In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("Holiday_data.csv")

In [14]:
data

,Destinations,Feedback Score,Hotel Star Rating,All-inclusive Hotels,Most visited City
0,Jamaica,6,4,13,Kingston
1,England,8,4,12,London
2,Angola,4,4,8,Benguela
3,Nigeria,9,3,23,Lgos
4,Italy,3,5,14,Venice
5,France,6,4,10,Paris
6,Poland,4,2,5,Warsaw
7,Uruguay,7,1,7,Piriapolis
8,Texas,7,4,36,San Antonio
9,Germany,6,3,19,Berlin
10,Qatar,9,5,45,Al Thakhira
11,Russia,5,3,31,Moscow
12,Kenya,6,2,16,Nairobi
13,Florida,8,5,39,Miami

In [6]:
#Task 1
data.shape

(14, 5)

In [7]:
#Task 2
data.iloc[3-8]

Destinations            Germany
Feedback Score                6
Hotel Star Rating             3
All-inclusive Hotels         19
Most visited City        Berlin
Name: 9, dtype: object

In [9]:
#Task 3
data["All-inclusive Hotels"].mean()

19.857142857142858

In [31]:
#Task 4
df = pd.DataFrame(data)

In [33]:
df ["Feedback Score"].min()

3

In [34]:
#Task 5
df ["Feedback Score"].max()

9

In [10]:
#Task 6
data["All-inclusive Hotels"] > 9

0      True
1      True
2     False
3      True
4      True
5      True
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13     True
Name: All-inclusive Hotels, dtype: bool

In [13]:
#Task 7
data["Feedback Score"] > 8

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
Name: Feedback Score, dtype: bool

In [15]:
#Task 8
data["Feedback Score"] < 2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: Feedback Score, dtype: bool